:root {
    --green-fg: #00a100;
    --dark-bg: #1c1b1b;
}

* {
    user-select: none;
    font-family: monospace;
    font-weight: bold;
    caret: var(--green-fg) block;
}

.flex-row, .flex-col {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.flex {
    flex: 1;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg);
    color: var(--green-fg);
}

.box {
    font-size: 2.75vmin;
    padding: 6px;
    margin: 6px;
    outline: 2px solid var(--green-fg);
    border-radius: 6px;
    color: var(--green-fg);
    background-color: var(--dark-bg);
}

button {
    font-size: 2.5vmin;
    margin: 2px;
    padding: 2px;
    outline: 2px solid var(--green-fg);
    border-radius: 4px;
    color: var(--green-fg);
    background-color: var(--dark-bg);
}

.title {
    font-size: 3vmin;
}

.align-center {
    align-items: center;
}

.hover-invert:hover, .hover-invert:hover * {
    cursor: pointer;
    background-color: var(--green-fg);
    color: var(--dark-bg);
}

.left-border {
    border-left: 2px solid var(--green-fg);
    padding-left: 6px;
    margin-left: 6px;
}

.bottom-border {
    border-bottom: 2px solid var(--green-fg);
    padding-bottom: 6px;
    margin-bottom: 6px;
}

input {
    border: none;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
}

.timer {
    text-align: center;
    font-size: 6vmin;
}

#end-screen {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
}

.red {
    border-color: #ff0000;
    color: #ff0000;
}
.yellow {
    border-color: #ffb600;
    color: #ffb600;
}

